body {
	font: 1em/1.5 Verdana, Helvetica,sans-serif;
	padding:0;
	margin:0;
	overflow: auto;
	background-color: #d4d4d4;
}

.fundo2 {
	background-color:white;
	width:70%;
	box-shadow: -10px 10px 20px #888888;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
}

div.menu li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
	text-transform:uppercase;
}

.banner {
	width: 100%;
	padding-bottom:15px;
}

a.h4 {
	color:inherit;					/* Relacionado a todas as páginas */
}

img.home {
	width:35%;					/* Relacionado a todas as páginas */
}

div.menu {
	background-color: #007db7;		/* Relacionado a todas as páginas */
	height: auto%;
	width: 100%;
	margin: auto;
	color: #f5f5f5;

}

header{
  background:#35424a;
  color:#white;
  min-height:70px;
  border-bottom:#ffbf00 3px solid;
}

header nav{
  float:center;
  margin-top:10px;
  font-size: 0.9em;
}


footer {
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#e8491d;
	text-align: center;
	background: url('../images/bg.jpg');
	
}

ul.padding {
	padding-left:369px;				/* Relacionado a página Homepage */
}

div.text {
	text-align: justify;
}

div.sobre {
	width: 80%;
	
}

ul.corpo {
	width: 85%;
	text-align: justify;
}

.cursos {
	width: 90%;
}

img.bb {
	width:50%;						/* Relacionado a página Homepage */
	border-radius: 8px;
}

img.cc {
	width:50%; 						/* Relacionado a página Homepage */
	border-radius: 8px;
}

img.mm {
	width:50%;						/* Relacionado a página Homepage */
	border-radius: 8px;
}

img.bb2 {
	width:50%;						/* Relacionado a página Lista Cursos */
	border-radius: 8px;
}

img.cc2 {
	width:50%; 						/* Relacionado a página Lista Cursos */
	border-radius: 8px;
}

img.mm2 {
	width:50%;						/* Relacionado a página Lista Cursos */
	border-radius: 8px;
}

a.corlink {
	color:inherit;					/* Relacionado a ListaCursos */
}

div.noticiatext {
	width: 75%;
	text-align: center;
	float: center;
	height: auto;
}

img.noticiasimage {
	width: 100%;
}

.flex-item {
    width: 80%;
    height: 350px;
    margin: 10px;
	overflow: auto;
	text-align: justify;
	padding-left:20px;
	padding-right:20px;
}

.flex-item {
    width: 80%;
    height: 350px;
    margin: 10px;
	overflow: auto;
	text-align: justify;
	padding-left:20px;
	padding-right:20px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 95%;
}

.flex-item {
    height: 100%;
}

@media(max-width: 755px){
  header,
  header nav,
  header nav li{
    float:none;
    width:100%;
	line-height:0;
	height: 50%;
  }
  img.home {
	  float: center;
	  width: 150px;
  }
  li.listadecursos, 
  li.noticias, 
  li.diciplinas, li.sobrecursos, li.contato{
	  background-color: #636363;
	  color: white;
	  border: 1px solid black;
	  background: url('../images/bg.jpg');
  }
	
  div.sobre {
	width: 70%;
	
  }

  .cursos {
	  width: 100%;
  }
  
  .fundo2 {
	background-color:white;
	width:93%;
  }
  
  img.bb2 {
	width:70%;						/* Relacionado a página Lista Cursos */
	border-radius: 8px;
 }

  img.cc2 {
	width:70%; 						/* Relacionado a página Lista Cursos */
	border-radius: 8px;
 }

  img.mm2 {
	width:70%;						/* Relacionado a página Lista Cursos */
	border-radius: 8px;
 }
}
